body {
    background-color:#333;
    color:whitesmoke;
}

form{
    text-align: center;
}

h1{
    text-align: center;
}


/*style top navigation*/
.topnav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
.topnav li {
    float: right;
  }
  
.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
.topnav li a:hover {
    background-color: #111;
  }



/*style google search image*/
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*style advanced form*/
.form-inline {  
  align-items: center;
  float: left;
}

.form-inline label {
  margin: 5px 10px 5px 0;
  float:left;
}

.form-inline input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
}

input[type=submit]:hover {
  background-color: snow;
}